@{
    ViewBag.Title = "Calendar";
}

<div class="container">

    <h2>Calendar</h2>

    @section scripts {
        <script>
            $(document).ready(function () {
                $('#calendar').fullCalendar({
                    theme: true,
                    header: {
                        left: 'prev, next, today',
                        center: 'title',
                        right: 'month, agendaWeek, agendaDay'
                    },
                    defaultView: 'month',
                    editable: true,

                    // handle an event that has been moved
                    eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {

                        alert(
                            event.title + " was moved " +
                            dayDelta + " days and " +
                            minuteDelta + " minutes."
                        );

                        allDay = false;



                    /*    if (allDay) {
                            alert("Event is now all-day");
                        }else{
                            alert("Event has a time-of-day");
                        } */

                        if (!confirm("Are you sure about this change?")) {
                            // test that change confirmation is working ok
                            document.write("before revert");
                            revertFunc();
                        }
                        else { 
                            // test that UpdateEventTime else block is entered
                       //     document.write("from UpdateEventTime call block   ");
                       //     document.write("<html><br><br></html>");
                       //     document.write("   parameter values--event start: " + event.start + ", dayDelta" + dayDelta + ", minuteDelta: " + minuteDelta + " allDay: " + allDay + "     ");
                       //     document.write("<html><br><br></html>");
                       //     document.write("   event id: " + event.id + ", Event start " + event.start + "\n\n");
                            UpdateEventTime(event.id, event.start, event.end, dayDelta);
                        }
                    },

                    backgroundColor: 'red',
                    nowIndicator: true,
                    events: "/Event/GetEvents/"
                });
            });

            // change event details in the database
            function UpdateEventTime(EventID, EventStart, EventEnd, dayDelta) {
                var dataRow = {
                    'Id': EventID,
                    'StartTime': EventStart,
                    'EndTime': EventEnd,
                    'DayDelta': dayDelta
                }
                $.ajax({
                    type: 'POST',
                    url: "/Event/UpdateEventTime",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(dataRow),
                    
                    success: function (response) {
                        event.id = response.eventid;
                        $('#calendar').fullCalendar('updateEvent', event);
                    }, 
                });
                // test to be sure UpdateEventTime is being called correctly
             //   document.write("   from JS function UpdateEventTime    ");
             //   document.write("<html><br><br></html>");
             //   document.write("   From UpdateEventTime JS function--EventID: " + EventID + ", NewEventStart: " + EventStart + "   " );
            } 
        </script>
    }



    <div class="row">
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
    </div>

</div>