@{
    ViewBag.Title = "Calendar";
}

<div class="container">

    <h2>Calendar</h2>

    @section scripts {
        <script>
            $(document).ready(function () {
                $('#calendar').fullCalendar({
                    theme: true,
                    header: {
                        left: 'prev, next, today',
                        center: 'title',
                        right: 'month, agendaWeek, agendaDay'
                    },
                    defaultView: 'month',
                    editable: true,

                    eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {

                        alert(
                            event.title + " was moved " +
                            dayDelta + " days and " +
                            minuteDelta + " minutes."
                        );

                        if (allDay) {
                            alert("Event is now all-day");
                        }else{
                            alert("Event has a time-of-day");
                        } 

                        if (!confirm("Are you sure about this change?")) {
                            revertFunc();
                        }
                        else { 
                            UpdateEventTime(event.id, event.start, event.end, allDay);
                        }

                    },

                    backgroundColor: 'red',
                    nowIndicator: true,
                    events: "/Event/GetEvents/"
                });
            });

            function UpdateEventTime(EventID, EventStart, EventEnd, allDay) {
            //    document.write("Hello world");
                var dataRow = {
                    'id': EventID,
                    'NewEventStart': EventStart,
                    'NewEventEnd': EventEnd,
                    'NewAllDay' : allDay
                }
                $.ajax({
                    type: 'POST',
                    url: "/Event/UpdateEventTime",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(dataRow)
                });
            }
        </script>
    }



    <div class="row">
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
    </div>

</div>